#row
{
    height: 650 px;  
    color: #fff;
    background-image: url("https://lh6.googleusercontent.com/proxy/9Ml4uarQWk_zl2OB8PGHcmUfWvnlPEKTwkD3Z6LS5KukOIpblnAG5Cd0klSWnu_LRrYURbPC67BSlGBF3jObh7EOqGlhTkob2gDFrLszL1b8=s0-d");  
    background-size : 100%;  
    background-size : cover;
}