<div class="main-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="userForm" >
      <mat-card-content>
        <input
          type="email"
          style="padding: 3%"
          placeholder="Email"
          formControlName="Email"
        />
        <!--  <h1>{{userForm}}</h1>  -->
        <div  *ngIf="Email!.touched && Email!.invalid " class = "alert alert-danger">Email is required !</div> 
        <input
          type="password"
          style="padding: 3%"
          placeholder="Password"
          formControlName="Password"
          
        />

        <div *ngIf="Password!.touched && Password!.invalid" class = "alert alert-danger">Password is required !</div>
      </mat-card-content>

      <div *ngIf="isLoggedin === false">
          <mat-card-actions>
            <button
              mat-raised-button
              color="secondary"
              class="btn-block"
              (click)="CallSignIn()"
            >
              Sign-in
            </button>
            <button
              mat-raised-button
              color="primary"
              class="btn-block"
              (click)="loginWithGoogle()"
            >
              Login With Google
            </button>
          </mat-card-actions>
      </div>
    </form>
  </mat-card>

</div>
