<div class="navbar">
  <button class="right" (click)="(logout)"></button>
</div>

<div class="sidenav">
  <h2>Accolite</h2>
  <div class="inner">
    <div>
      <button (click)="changeView('Home')">Home</button>
    </div>
    <div class="clickables">
      <button (click)="toggleClick()">Category</button>
      <div *ngIf="!clicked" class="category">
        <div *ngIf="!length">
          <div *ngFor="let category of category_list" class="category-inner">
            <button (click)="changeCategory(category.categoryId)">
              {{ category.categoryName }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="clickables" (click)="changeView('revid')">
      <button>Reported Video</button>
    </div>
    <div class="clickables" (click)="changeView('recom')">
      <div *ngFor comments in reportedComments>
        console.log(comments.firstName)
      </div>
      <button>Reported Comments</button>
    </div>
    <div class="clickables" (click)="changeView('unvid')">
      <button>UnApproved Videos</button>
    </div>
    <div class="clickables" (click)="changeView('upvid')">
      <button>Upload a Video</button>
    </div>
  </div>
</div>
<app-admin-vids
  [reportedVideos]="reportedVideos"
  [reportedComments]="reportedComments"
  [unApprovedVideos]="unApprovedVideos"
  [clickedOn]="clickedOn"
  [lengthOfreportedComments] = "lengthOfreportedComments"
  [lengthOfreportedVideos] = "lengthOfreportedVideos"
  [lengthOfunApprovedVideos] = "lengthOfunApprovedVideos"
  [clickedView] = "clickedView"]
></app-admin-vids>
